<!DOCTYPE html>
<html>
<title>Matt & Kara</title>
<meta charset="UTF-8">
<meta name="description" content="Matt & Kara Wedding">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylesheets/index.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="icon" href="favicon.ico">
<link rel="manifest" href="manifest.json">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
    body, html {
        height: 100%;
        color: #777;
        line-height: 1.8;
    }

    /* Create a Parallax Effect */
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* First image (Logo. Full height) */
    .bgimg-1 {
        background-image: url('https://s3.amazonaws.com/matt-and-kara/Matt-Kara-Engagement-092.jpg');
        min-height: 100%;
    }

    /* Second image (Portfolio) */
    .bgimg-2 {
        background-image: url("https://s3.amazonaws.com/matt-and-kara/Matt-Kara-Engagement-001.jpg");
        min-height: 400px;
    }

    /* Third image (Contact) */
    .bgimg-3 {
        background-image: url("https://s3.amazonaws.com/matt-and-kara/Matt-Kara-Engagement-012.jpg");
        min-height: 400px;
    }

    .bgimg-4 {
        background-image: url("https://s3.amazonaws.com/matt-and-kara/Matt-Kara-Engagement-089.jpg");
        min-height: 500px;
    }

    .bgimg-5 {
        background-image: url("https://s3.amazonaws.com/matt-and-kara/pexels-photo-264787.jpeg");
        min-height: 500px;
    }

    .w3-wide {letter-spacing: 10px;}
    .w3-hover-opacity {cursor: pointer;}

    /* Turn off parallax scrolling for tablets and phones */
    @media only screen and (max-device-width: 1024px) {
        .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
            background-attachment: scroll;
        }
    }
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <ul class="w3-navbar" id="myNavbar">
        <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
            <a class="w3-hover-airbnb" href="javascript:void(0);" onclick="toggleFunction('navDemo')" title="Toggle Navigation Menu">
                <i class="fa fa-bars" style="color:gray"></i>
            </a>
        </li>
        <li class="w3-left-align"><a class="w3-hover-airbnb" onclick="scrollToElementId('home', 5)" style="color:gray">HOME</a></li>
        <li class="w3-hide-small"><a class="w3-hover-airbnb" onclick="scrollToElementId('about', 5)" style="color:gray">CEREMONY</a></li>
        <li class="w3-hide-small"><a class="w3-hover-airbnb" onclick="scrollToElementId('hotels', 5)" style="color:gray">HOTELS</a></li>
        <li class="w3-hide-small"><a class="w3-hover-airbnb" onclick="scrollToElementId('blog', 5)" style="color:gray">REGISTRY</a></li>
        <li class="w3-hide-small"><a class="w3-hover-airbnb" onclick="scrollToElementId('contact', 5)" style="color:gray">RSVP</a></li>
    </ul>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-border" onclick="toggleFunction('navDemo')">
        <ul class="w3-navbar w3-left-align w3-white">
            <li><a class="w3-hover-airbnb" onclick="scrollToElementId('about', 5)">CEREMONY</a></li>
            <li><a class="w3-hover-airbnb" onclick="scrollToElementId('hotels', 5)">HOTELS</a></li>
            <li><a class="w3-hover-airbnb" onclick="scrollToElementId('blog', 5)">REGISTRY</a></li>
            <li><a class="w3-hover-airbnb" onclick="scrollToElementId('contact', 5)">RSVP</a></li>
        </ul>
    </div>
</div>

<!-- First Parallax Image with Logo Text -->
<!--style="white-space:nowrap;font-family:'Great Vibes',cursive;"-->
<div class="bgimg-1 w3-display-container" id="home">
    
    <div class="w3-display-middle">
        <div class="title-container">
            <div class="w3-center title1">
                Matt & Kara
            </div>
            <div class="heart w3-center">
                <img src="ico-heart2.png" alt="">
            </div>
            <div class="w3-center">
                <span class="subtitle1">
                    <span class="subtitle1-borders w3-wide">
                        MAY 19, 2018 IN SEATTLE
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
    <div class="w3-row w3-center">
        <h3 class="w3-center ceremony-title">Ceremony</h3>
    </div>
    <div class="w3-row w3-center">
        <img src="border1.png" style="width:100%;filter: invert(100%) grayscale(50%);display:block;margin:auto;">
    </div>
    <div class="w3-row w3-center">
        <div class="w3-col m6 w3-center w3-padding-large">
            <span style="font-size:40px">May 19</span><br/>
            <span style="font-family: 'Lobster', cursive;font-size:40px">Saturday</span><br/>
            <span style="font-size:40px">2018</span>
        </div>

        <!-- Hide this text on small devices -->
        <div class="w3-col m6 w3-padding-large">
            <a href="https://www.google.com/maps/place/Court+in+the+square/@47.5987391,-122.3341717,17z/data=!3m1!4b1!4m5!3m4!1s0x54906aa4b6feba7b:0xd83cf5d0a133e75b!8m2!3d47.5987391!4d-122.331983"
                target="_blank"
            >
                <span style="font-size:20px">401 2nd Ave S, Seattle, WA 98104</span><br/>
            </a>
            <span style="font-family: 'Lobster', cursive;font-size:40px">Court in the Square</span><br/>
            <span style="font-size:40px">4:30 PM</span><br/>
            <span style="font-size:20px">DINNER + RECEPTION</span>
        </div>
    </div>

    <div class="w3-row w3-center w3-margin-top">
        <a onclick="scrollToElementId('contact', 5)">
            <button class="w3-btn w3-round-jumbo w3-hover-airbnb w3-light-grey w3-padding">
                <span style="font-size:15px">
                    <i class="fa fa-envelope"></i> Click here to RSVP today
                </span>
            </button>
        </a>
    </div>
    
</div>

<!-- Second Parallax Image with BLOG Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-wide">
            <span style="font-family: san-serif, cursive;font-size:90px;color:white;">Hotels</span><br/>
        </span>
    </div>
</div>


<!-- Container (BLOG Section) -->
<div class="w3-content w3-container" id="hotels">
    <div class="w3-center w3-row w3-padding-32 w3-section">
        <span style="font-size:18px">
            <span style="font-family: 'Lobster', cursive;font-size:40px">We've reserved some hotels for you.</span><br/><br/>
            These rates are locked in until 04/17/18.<br/>
            Please let us know if you need other hotel arrangements.
        </span>
    </div>
    <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m6 w3-container">
            <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=The+Fong+%26+Kim+Wedding+Room+Block%5Eseacd%60fkwfkwa%60219%60USD%60false%605%605%2F17%2F18%605%2F21%2F18%604%2F17%2F18&app=resvlink&stop_mobi=yes"
                class="w3-center" target="_blank"
                style="text-decoration: none;"
            >
                <img src="https://s3.amazonaws.com/matt-and-kara/courtyard_marriot_slu.jpg" alt="Logo" style="width:100%;">
            </a>
            <br/>
            <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=The+Fong+%26+Kim+Wedding+Room+Block%5Eseacd%60fkwfkwa%60219%60USD%60false%605%605%2F17%2F18%605%2F21%2F18%604%2F17%2F18&app=resvlink&stop_mobi=yes"
                target="_blank"
            >
            <span style="font-size:20px">Courtyard Marriott South Lake Union</span><br/>
            </a>
            <span>$219 / night</span><br/>
            <span>Rooms available from 05/17/18 to 05/21/18</span><br/>
            <span>Book by 04/17/18</span><br/>
            
        </div>
        <div class="w3-col m6 w3-container">
            <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Fong%2FKim+Wedding%5Ebvuch%60fkwfkwa%60109%60USD%60false%603%605%2F17%2F18%605%2F21%2F18%604%2F17%2F18&app=resvlink&stop_mobi=yes"
                class="w3-center" target="_blank"
                style="text-decoration: none;"
            >
                <img src="https://s3.amazonaws.com/matt-and-kara/courtyard_marriot_bellevue_redmond.jpg" alt="Logo" style="width:100%;">
            </a>
            <br/>
            <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Fong%2FKim+Wedding%5Ebvuch%60fkwfkwa%60109%60USD%60false%603%605%2F17%2F18%605%2F21%2F18%604%2F17%2F18&app=resvlink&stop_mobi=yes"
                target="_blank"
            >
            <span style="font-size:20px">Courtyard Marriott Bellevue / Redmond</span><br/>
            </a>
            <span>$109 / night</span><br/>
            <span>Rooms available from 05/17/18 to 05/21/18</span><br/>
            <span>Book by 04/17/18</span><br/>
        </div>
    </div>
</div>


<!-- Second Parallax Image with BLOG Text -->
<div class="bgimg-5 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-wide">
            <span style="font-family: san-serif, cursive;font-size:90px;color:white;">Registry</span><br/>
        </span>
    </div>
</div>

<!-- Container (BLOG Section) -->
<div class="w3-content w3-container" id="blog">
    <div class="w3-center w3-row w3-padding-32 w3-section">
            <div class="w3-col m4 w3-container"></div>
            <div class="w3-col m4 w3-container">
                <a href="https://www.amazon.com/wedding/matt-kim-kara-fong-seattle-may-2018/registry/1SUANDV8IS7GH" class="w3-center" target="_blank"
                    style="text-decoration: none;"
                >
                    <img src="https://s3-us-west-2.amazonaws.com/kelron-play-2/amazon_logo.jpg" alt="Logo"
                        style="width:100%;border: 0px solid #CCCCCC;border-radius:10px;padding:20px;box-shadow:rgba(0, 0, 0, 0.07) 16px 16px 47px 2px;"
                    >
                </a>
                <br/>
                <br/>
                <span style="font-size:18px">
                    Here is our wedding wishlist. We've handpicked a few items that we could use as we start this new exciting chapter in our lives together.
                </span>
            </div>
            <div class="w3-col m4 w3-container"></div>
    </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
    <span class="w3-closebtn w3-text-white w3-opacity w3-hover-opacity-off w3-xxlarge w3-container w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption" class="w3-opacity w3-large"></p>
    </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-wide">
            <span style="font-family: san-serif, cursive;font-size:90px;color:white;">RSVP</span><br/>
        </span>
    </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container" id="contact">
    <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m4 w3-container">
            <!-- Add Google Maps -->
            <div id="googleMap" class="w3-round-large w3-greyscale" style="width:100%;height:400px;"></div>
        </div>
        <div class="w3-col m8 w3-container w3-section">
            <p>Submit 1 RSVP per person that will be attending. Thanks!</p>
                          
            <form action="https://docs.google.com/forms/d/1kgbLIBZCHioTfDxHbeK-qkAlzGHU4G1GYs2hxv32d70/formResponse" method="POST" target="_self" onsubmit="">
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-half w3-padding-8">
                        <input class="w3-input w3-border w3-round-medium" type="text" placeholder="First Name" required name="entry.1232983761">
                    </div>
                    <div class="w3-half w3-padding-8">
                        <input class="w3-input w3-border w3-round-medium" type="text" placeholder="Last Name" required name="entry.1675016483">
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-half w3-padding-8">
                        <input class="w3-input w3-border w3-round-medium" type="text" placeholder="Food Allergies" name="entry.2117749540">
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-half w3-padding-8" style="float:left;clear:none;overflow:hidden">
                        Will you be attending?<br/>
                        <label class="radio-inline">
                            <input type="radio" name="entry.153590262" value="Accept" required>Accept
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="entry.153590262" value="Decline">Decline
                        </label>
                    </div>
                </div>
                
                <button class="w3-btn w3-round-jumbo w3-hover-airbnb w3-light-grey w3-right w3-padding w3-section">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bgimg-4 w3-center w3-padding-64 w3-opacity w3-hover-opacity-off">
    <a onclick="scrollToElementId('home', 5)">
        <button class="w3-btn w3-round-jumbo w3-hover-airbnb w3-light-grey w3-padding">
            <i class="fa fa-arrow-up w3-margin-right"></i> TOP
        </button>
    </a>
</footer>

<!-- Add Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9baFqNQmDduTYhSverOomvUqpHqBPgnc&callback=initMap"></script>
<script>
  var myCenter = new google.maps.LatLng(47.598842, -122.332076);

  function initialize() {
    var mapProp = {
      center: myCenter,
      zoom: 14,
      scrollwheel: false,
      draggable: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

    var marker = new google.maps.Marker({
      position: myCenter,
    });

    marker.setMap(map);
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }

  // Change style of navbar on scroll
  window.onscroll = function() {myFunction()};
  function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-white";
    } else {
      navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
    }
  }

  // Used to toggle the menu on small screens when clicking on the menu button
  function toggleFunction(elemId) {
    var x = document.getElementById(elemId);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }

  // Used to scroll to element id with the given speed measured by update interval in ms.
  function scrollToElementId(elemId, speed) {
    var elem = document.getElementById(elemId);
    // This is the true offset from the top of the window
    var elemHeight = elem.offsetTop;
    var initialY = window.scrollY;
    var id = setInterval(frame, speed);
    var limit = Math.max( document.body.scrollHeight, document.body.offsetHeight,
      document.documentElement.clientHeight, document.documentElement.scrollHeight, document.documentElement.offsetHeight );

    function frame() {
      if (elemHeight > initialY) {
        // limit - innerHeight gives us the top of the page at the bottom of the scroll.
        if(window.scrollY >= limit - window.innerHeight) {
          clearInterval(id);
        }

        // Scroll down
        if (window.scrollY >= elemHeight) {
          clearInterval(id);
        } else {
          window.scrollTo(window.scrollX, window.scrollY + 10);
        }
      } else {
        if(window.scrollY <= 0) {
          clearInterval(id);
        }

        // Scroll up
        if (window.scrollY <= elemHeight) {
          clearInterval(id);
        } else {
          window.scrollTo(window.scrollX, window.scrollY - 10);
        }
      }
    }
  }

</script>

</body>
</html>
